*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(images/0_3_640_N\(15\).webp);
    background-repeat: no-repeat; */
}
body{
  background-color: black;
}
h3{
  color: white;
}
.container h1{
    font-size: 12rem;
    color:transparent;
    -webkit-text-stroke: 1px black;
    background-image: url("images/nature.webp");
   -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-position: 0 0 ;
    text-align: center;
    
    animation: car 20s linear infinite;
}
@keyframes car {
  100%{
    background-position: 1500px 0 ;

  }
    
}


